
*, *::after, *::before {
  box-sizing:border-box;  
  font-family:Arial, Helvetica, sans-serif;
}

* {
	/* Lettertype */
	font-family:Arial, Helvetica, sans-serif;
}






/*********************/
:root {
	/* Start */
	--color-text:#000000;
	--color-background:#ffffff;

	/* Header */
	

	/* Body */

	/* Footer */
	--footer-background:rgb(26 26 26);
}




nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* Weet niet zeker of dit kan */
	padding: 10px;
	
	background-color:var(--color-background);

}

nav img {
	justify-content: center;
	width: 120px;
	height: auto;

}

nav a {
	margin: 10px;

}

body section :nth-of-type(1) {
	width: 670px;
	height: auto;
}

ul li img :nth-of-type(1) {
	display: flex;

}

li :nth-of-type(1) img {
	width: 265px;
	height: auto;
}

li :nth-of-type(2) img {
	width: 265px;
	height: auto;
}


body {
	
	background-color:(var(--color-background));
}


footer{

	background-color:var(--footer-background);
}




